<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="wrapper">
        <div class="h">Выбери какой модуль включить</div>
        <div id="image"> <img src="{% static 'images/arduino_image.png' %}" alt="srduino image" > </div>


        <svg width="200px" height="200px" version="1.1" xmlns="http://www.w3.org/2000/svg">

          </svg>

        <svg><line id="line"/></svg>

        <div id="modules1">
            <div class="module1"></div>
            <div class="module1"></div>
        </div>

        <div class="modules2">
            <div class="module"></div>
            <div class="module"></div>
            <div class="module"></div>
        </div>


    </div>
</body>
</html>